.build-dashboard {
    width: 100%;
    border-collapse: collapse;
}
.build-dashboard td {
    vertical-align: middle;
}
.build-dashboard .group-title {
    border-top: 2px solid #F2F2F2;
}
.build-dashboard .group-title th {
    text-align: left;
    padding: .8rem 1rem;
}
.build-dashboard .group-headers {
    font-size: 80%;
    text-align: left;
    color: #bbb;
}
.build-dashboard .version-entry {
    line-height: 2.5rem;
}
.build-dashboard .version-label {
    font-weight: bolder;
}
.badge {
    background-color: #ddd;
    border-radius: 5px;
    padding: 2px 4px;
    margin-left: .25rem;
    color: #333;
    font-size: 90%;
    word-break: keep-all;
    overflow-wrap: break-word;
}
.build-dashboard .application-build .build-status-icon__wrapper {
    margin-right: 5px;
}
.build-dashboard .deployment-environment {
    font-weight: bolder;
}
.build-dashboard .build-information, .build-dashboard .deployment-information {
    line-height: 1.3rem;
}
.muted {
    font-size: 80%;
    color: #555;
}
.build-dashboard .actions {
    padding-top: 10px;
    text-align: right;
}
.build-dashboard .activity-category {
    color: #666;
    margin-right: .2rem;
}
.version-activities {
    background: #f0f0f0 !important;
    line-height: 1.0rem;
}
.version-activities[hidden] {
    display: none;
}
.version-activities td:nth-child(1) {
    background: #fff;
}
.version-activities td:nth-child(2) {
    padding-left: 1rem;
}
.activity-score {
    background: #888;
    color: #fff;
    padding: 2px 6px;
    border: 1px solid #666;
    border-radius: 50%;
    margin: 0 .25rem;
    font-family: monospace;
    font-weight: bolder;
}
.activity-score.score-A, .build-dashboard .activity-quality-gate.passed {
    background-color: #0a0;
    border-color: #165405;
}
.activity-score.score-B {
    background-color: #51ad37;
    border-color: #327021;
}
.activity-score.score-C {
    background-color: #eabe06;
    border-color: #7d6113;
}
.activity-score.score-D {
    background-color: #ed7d20;
    border-color: #7d6113;
}
.activity-score.score-E, .build-dashboard .activity-quality-gate.failed {
    background-color: #d02f3a;
    border-color: #3b0904;
}
.build-dashboard .activity-quality-gate {
    background: #aaa;
    border: 1px dotted #666;
    padding: 1px 3px;
    color: #fff;
    font-weight: bolder;
    border-radius: 3px;
    font-size: .7rem;
}
/* Dark theme */
html[data-theme="dark"] .badge {
    background-color: #333;
    color: #aaa;
}
html[data-theme="dark"] .version-activities {
    background-color: #191921 !important;
    color: #bbb;
}
html[data-theme="dark"] .activity-category {
    color: #999;
}
html[data-theme="dark"] .version-activities td:nth-child(1) {
    background-color: rgb(31, 31, 35);
}
html[data-theme="dark"] .build-dashboard .group-title {
    border-top: 2px solid #18181B;
}
.unchanged { color: #2d67ad; }
.change-good { color: green; }
.change-bad { color: red }