.build-dashboard {
    width: 100%;
    border-collapse: collapse;
}
.build-dashboard td {
    vertical-align: middle;
}
.build-dashboard .group-title {
    border-top: 2px solid #F2F2F2;
}
.build-dashboard .group-title th {
    text-align: left;
    padding: .8rem 1rem;
    font-size: 1rem;
}
.build-dashboard .group-headers {
    font-size: 80%;
    text-align: left;
    color: #bbb;
}
.build-dashboard .version-entry {
    line-height: 2.5rem;
}
.build-dashboard .version-label {
    font-weight: bolder;
}
.badge {
    background-color: #ddd;
    border-radius: 5px;
    padding: 2px 4px;
    margin-left: .25rem;
    color: #333;
    font-size: 90%;
    word-break: keep-all;
    overflow-wrap: break-word;
}
.build-dashboard .application-build .build-status-icon__wrapper {
    margin-right: 5px;
}
.build-dashboard .deployment-environment {
    font-weight: bolder;
}
.build-dashboard .build-information, .build-dashboard .deployment-information {
    line-height: 1.3rem;
}
.muted {
    font-size: 80%;
    color: #555;
}
.build-dashboard .actions {
    padding-top: 10px;
    text-align: right;
}
.build-dashboard .activity-category {
    color: #666;
    margin-right: .2rem;
}
.version-activities {
    background: #f0f0f0 !important;
    line-height: 1.0rem;
}
.version-activities[hidden], .version-summary-tr[hidden] {
    display: none;
}
.version-activities td:nth-child(1) {
    background: #fff;
}
.version-activities td:nth-child(2) {
    padding-left: 1rem;
}
.activity-score {
    background: #888;
    color: #fff;
    padding: 2px 6px;
    border: 1px solid #666;
    border-radius: 50%;
    margin: 0 .25rem;
    font-family: monospace;
    font-weight: bolder;
}
.activity-score.score-A, .build-dashboard .activity-quality-gate.passed {
    background-color: #0a0;
    border-color: #165405;
}
.activity-score.score-B {
    background-color: #51ad37;
    border-color: #327021;
}
.activity-score.score-C {
    background-color: #eabe06;
    border-color: #7d6113;
}
.activity-score.score-D {
    background-color: #ed7d20;
    border-color: #7d6113;
}
.activity-score.score-E, .build-dashboard .activity-quality-gate.failed {
    background-color: #d02f3a;
    border-color: #3b0904;
}
.build-dashboard .activity-quality-gate {
    background: #aaa;
    border: 1px dotted #666;
    padding: 1px 3px;
    color: #fff;
    font-weight: bolder;
    border-radius: 3px;
    font-size: .7rem;
}
/* Dark theme */
html[data-theme="dark"] .badge {
    background-color: #333;
    color: #aaa;
}
html[data-theme="dark"] .version-activities {
    background-color: #191921 !important;
    color: #bbb;
}
html[data-theme="dark"] .activity-category {
    color: #999;
}
html[data-theme="dark"] .version-activities td:nth-child(1) {
    background-color: rgb(31, 31, 35);
}
html[data-theme="dark"] .build-dashboard .group-title {
    border-top: 2px solid #18181B;
}
.unchanged { color: #2d67ad; }
.change-good { color: green }
.change-bad { color: red }
.change-unstable { color: orange }

.version-summary {
    border-top: 1px solid #ddd;
    padding: 0 !important;
    display: flex !important;
    flex-wrap: wrap;
    flex: 0 0 100%;
    min-width: 800px;
}

.version-summary .card {
    flex: 0 0 25%;
    padding: 0 0 10px 0;
}
.version-summary .card:nth-of-type(2) {
    flex: 1 1  50%;
}
.version-summary .card:not(:last-child) {
    border-right: 1px solid #ddd;
}

.version-summary .card .title {
    display: flex !important;
    flex-wrap: wrap;
    margin: 0 0 12px 0;
    padding: 2px 5px;
    height: 28px;
    align-items: center;
}
.version-summary .card h2 {
    color: #777;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .9rem;
    margin: 0;
    height: 28px;
}
.version-summary .card .status {
    font-size: 18px;
    line-height: 18px;
    color: #333;
    padding: 2px 5px;
    text-align: right;
    flex: 1 1 auto;
    padding: 6px 8px 0 0;
    height: 34px;
}

.version-summary .card .content {
    display: block;
}

.summary-build, .summary-quality, .summary-release {
    text-align: center;
}
.summary-build h3, .summary-quality h3, .summary-release h3 {
    margin: 4px 0 0 0;
    padding: 0;
    font-size: .8rem;
    color: #999;
    font-weight: normal;
}
.summary-build strong, .summary-quality strong, .summary-release strong {
    font-size: 1.3rem;
    font-weight: normal;
}
.summary-quality small {
    display: inline-block;
    font-size: 1rem;
    padding-top: 6px;
}
.summary-quality span.activity-score {
    display: inline-block;
    margin-top: 8px;
    line-height: 18px;
}

.version-summary [health=good] path { color: #34ba4d; fill: #34ba4d; }
.version-summary [health=warn] path { color: #ba6e22; fill: #ba6e22; }
.version-summary [health=warn] path:not(:nth-of-type(1)) { color: #fff; }
.version-summary [health=bad] path { color: #fff; }
.version-summary [health=bad] path:nth-of-type(1) { color: #c92a2a; fill: #c92a2a; }
.version-summary [health=bad] circle { color: #fff; fill: #fff; }
.version-summary [health=pending] path { color: #3165c4 }

div.col-3, div.col-2 {
    display: flex !important;
    flex-wrap: wrap;
}
div.col-2 > div {
    flex: 1 1 50%;
}
div.col-3 > div {
    flex: 1 1 30%;
}