.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal-title {
    margin: .3rem 0 .2rem 0;
}

.modal-subtitle {
    margin: .0rem 0 .3rem 0;
}

.modal-header {
    text-align: center
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: .6rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 20px;
}

.close:before {
    content: 'x';
}

.close:hover,
.close:focus {
    color: #727272;
    text-decoration: none;
    cursor: pointer;
}

.modal-body tbody td:first-child {
    padding: 1em;
}

.modal-body tbody tr:first-child th:first-child {
    padding: .7em !important;
}